.tile {
  display: grid;
  place-items: center;
  font-weight: 800;
  font-size: 1.25rem;
  border-radius: 8px;
  color: #776e65;
  user-select: none;
  width: 100%;
  height: 100%;
}

.tile--empty {
  background: var(--tile-empty);
}
.tile--v2 {
  background: #eee4da;
}
.tile--v4 {
  background: #ede0c8;
}
.tile--v8 {
  background: #f2b179;
  color: #f9f6f2;
}
.tile--v16 {
  background: #f59563;
  color: #f9f6f2;
}
.tile--v32 {
  background: #f67c5f;
  color: #f9f6f2;
}
.tile--v64 {
  background: #f65e3b;
  color: #f9f6f2;
}
.tile--v128 {
  background: #edcf72;
  color: #f9f6f2;
  font-size: 1.1rem;
}
.tile--v256 {
  background: #b0ed61;
  color: #f9f6f2;
  font-size: 1.1rem;
}
.tile--v512 {
  background: #a9ed50;
  color: #f9f6f2;
  font-size: 1.1rem;
}
.tile--v1024 {
  background: #3fed6a;
  color: #f9f6f2;
  font-size: 1rem;
}
.tile--v2048 {
  background: #2ee7ed;
  color: #f9f6f2;
  font-size: 1rem;
}
.tile--v4096 {
  background: #2e7eed;
  color: #f9f6f2;
  font-size: 1rem;
}
