.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 6px 0px;
}

.header_scores {
  display: flex;
  gap: 12px;
}

.header_toggles {
  display: flex;
  gap: 8px;
}

.header * {
  padding: 10px 14px;
  font-weight: 700;
}
